<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="demo.entity.User">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="age" column="age" />
        <result property="email" column="email" />
    </resultMap>

    <resultMap id="UserVOMap" type="demo.vo.UserVO" />

    <!--通用查询结果列-->
    <sql id="col">
        id, name, age, email
    </sql>

    <!--查询所有用户信息-->
    <select id="getUserList" resultMap="UserVOMap">
        select
          <include refid="col"/>
        from user
        where 1 = 1
        <if test="name != null">
            and name like concat(concat('%', #{name}), '%')
        </if>
        <if test="age != null">
            and age = #{age}
        </if>
        <if test="email != null">
            and email like concat(concat('%', #{email}), '%')
        </if>
    </select>

    <!--查询年龄大于18岁的用户-->
    <select id="getUserOverAge" resultMap="UserVOMap">
        select
          <include refid="col"/>
        from user
        where 1 = 1
        <if test="age != null">
            and age > #{age}
        </if>
    </select>

    <!--查询指定用户信息-->
    <select id="getUserByIdList" resultMap="UserVOMap">
      select
        <include refid="col"/>
      from user
      where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
