<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="demo.entity.User">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="age" column="age" />
        <result property="email" column="email" />
    </resultMap>

    <!--通用查询结果列-->
    <sql id="col">
        ID, NAME, AGE
    </sql>

    <!--查询年龄大于18岁的用户-->
    <select id="getUserOver18" resultMap="BaseResultMap">
        select <include refid="col"/>
        from user
        where age > 18
    </select>

    <!--查询所有用户-->
    <select id="getAllUser" resultMap="BaseResultMap">
      select <include refid="col"/>
      from user
    </select>
</mapper>
